<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    {{#if apellido}}
        <h1>¡Hola, {{nombre}} {{apellido}}!</h1>
    {{else}}
        <h1>¡Hola, {{nombre}}!</h1>
    {{/if}}
    
    <p>Tu codigo de confirmacion es:</p>
    <h2>{{codigo}}</h2>
</body>
</html>